
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Renviron

#To prevent extremely large downloads
downloads/*

#other local folders/files from apache
metastore_db/*
derby.log

#exclude local html reports from knit Rmd files
*.html
#exclude any test sql queries made during development
*.sql

#ignore all files placed in ignore folder
ignore/*