
.Rproj.user
.Rhistory
.RData
.Ruserdata

#To prevent extremely large downloads
downloads/*

#other local folders/files from apache
metastore_db/*
derby.log

#exclude local html reports from knit Rmd files
*.html

#keep directory for persistent data, but don't include any files
persistent_data/*
!persistent_data/

README.html